<div class="verticalcenter" ng-controller="ChangePasswordController">
	<div class="container-fluid">
		<div class="row" style="margin-top:25px;">
			<div class="col-md-12">	
				<div class="panel panel-orange">
					<div class="panel-body">
						<h4 class="text-center" style="margin-bottom: 25px;">Change Password</h4>
							<form action="#" class="form-horizontal" style="margin-bottom: 0px !important;">
									<div ng-if="message">
										<alert type="{{alert.type}}"><span ng-bind-html="alert.msg | safe_html"></alert>
									</div>
									<div class="form-group">
										<div class="col-sm-8">
											<div class="form-group">
												<label for="email" class="control-label col-sm-4" style="text-align:right;">Email</label>
												<div class="col-sm-6">
													<input type="text" class="form-control" id="email" placeholder="Email" ng-model="email" required>
													<span class="help-block" ng-show="form.loginForm.email.$error.required && form.loginForm.email.$dirty">User Name is required</span>
												</div>
											</div>
											<div class="form-group">
												<label for="password" class="control-label col-sm-4" style="text-align: right;">Old Password</label>
												<div class="col-sm-6">
													<input type="password" class="form-control" placeholder="Old Password" ng-model="oldPassword" required>
												</div>
											</div>
											<div class="form-group">
												<label for="password" class="control-label col-sm-4" style="text-align: right;">New Password</label>
												<div class="col-sm-6">
													<input type="password" class="form-control" placeholder="New Password" ng-model="newPassword" required>
												</div>
											</div>
											<div class="form-group">
												<label for="password" class="control-label col-sm-4" style="text-align: right;">Confirm New Password</label>
												<div class="col-sm-6">
													<input type="password" class="form-control" placeholder="Confirm New Password" ng-model="cNewpassword" required>
												</div>
											</div>
										</div>
									</div>
								</form>
								
					</div>
					<div class="panel-footer">
						<div class="col-sm-8 col-sm-offset-4">
							<button class="btn btn-success" ng-click="chngPassword()">Change Password <i class="fa fa-arrow-right"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 </div>
