<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>Create Request</li>
	</ol>
	<h1>Create Request</h1>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-orange">
				<div class="panel-heading">
					<h2>Post your Request</h2>
				</div>
				<div class="panel-body">

					<div class="row">
						<div class="col-sm-12">	
							<form action="" name="form.reg_form" class="form-horizontal row-border">
					           <div class="col-sm-8">
								<label class="">Title</label> <input type="text"
									class="form-control input-sm" ng-model="user.summary.firstName">
							</div>
							<br /> <br />
							<div class="col-sm-8" style="margin-top: 25px;">
								<label class="">Description</label>
								<textarea class="form-control" ng-model="user.summary.aboutMe"></textarea>
							</div>
							<div>
								<label class="col-sm-2 control-label">Target Industry</label>
								<div class="col-sm-4">
									<select class="form-control input-sm">
										<option value="1">Industry 1</option>
										<option value="2">Industry 2</option>
										<option value="2">Industry 3</option>
									</select>
								</div>
							</div>
							<div >
								<label class="col-sm-2 control-label">Intended Audience</label>
								<div class="col-sm-4">
									<select class="form-control input-sm">
										<option value="1">Audience 1</option>
										<option value="2">Audience 2</option>
										<option value="2">Audience 3</option>
									</select>
								</div>
							</div>
							<div >
								<label class="col-sm-2 control-label">Target Location</label>
								<div class="col-sm-4">
									<select class="form-control input-sm">
										<option value="1">Target Location 1</option>
										<option value="2">Target Location 2</option>
										<option value="2">Target Location 3</option>
									</select>
								</div>
							</div>
					        </form>
						</div>
						<div class="col-sm-12">
							<hr />
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<div class="btn-toolbar">
								<button class="btn-primary btn" ng-click="saveUserInfo()">Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- container-fluid -->


