  <div class="modal-header">
          <h3 class="modal-title">Manage Users</h3>
        </div>
    <div class="modal-body ng-scope">
       <!-- form start  -->
       <form role="form" id="form" name="form">
        <div ng-if="message">
            <alert type="{{alert.type}}"><span ng-bind-html="alert.msg | safe_html"></alert>
        </div>
        <!-- User Name -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" ng-model="user.usrName" disabled />
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" ng-model="user.usrEmail"  disabled />
        </div>
        
        <!-- User Type -->
       <div class="form-group">
          <label for="usertype">User Type</label>
          <select name="usertype" class="form-control" ng-model="user.usrType">
            <option value="ADMIN">ADMIN</option>
            <option value="PUBLISHER">PUBLISHER</option>
            <option value="USER">USER</option>
        </select>
        </div>
         <!-- <label for="name">Verified ?</label>
         <div class="form-group">
            <input name="question" type="radio" ng-model="isVerified" value="yes">Yes<br/>
            <input name="question" type="radio" ng-model="isVerified" value="no">No<br/>
            <div ng-if="isVerified!='yes'" role="alert">
              <div>You are not verified!</div>
            </div> 
        </div> -->
        
      </form>
      </div>
       <!-- form end -->
         
        <div class="modal-footer">
          <!-- <button class="btn btn-primary" type="button" ng-click="deleteUser()">Delete</button> -->
          <button class="btn btn-primary" type="button" ng-click="saveUser(user)">Save</button>
          <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
        </div>
