<style type="text/css">
	.entity-detail{

	}
	.entity-detail .panel-body{
		height: 400px;
		overflow-y: auto;
	}
</style>
<div ng-controller="EntityDetailController">
<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li><a href="#/search/{{searchType}}/{{keywords}}">Search</a></li>
		<li class="active">{{entityType}} Detail</li>
	</ol>
</div>
<div class="container-fluid" >
	<div class="row">
		<div class="col-md-9" ng-if="entityType=='GOVT_POLICY'">
				<div class="panel panel-default panel-profile">
					<div class="panel-body user-profile" style="padding:20px;text-align:justify;height:500px;overflow-y:auto;">
						<h3>{{entityResult.policyTitle}}</h3>
						<img src="http://res.cloudinary.com/difyxhuza/image/upload/v1441404252/application_images/employee_pic.jpg" alt="" class="img-responsive user-avatar">						
						<hr/>
						<div>
							<span>Last Updated:</span><span>27th September 2015</span>
						</div>

						<p style="padding:20px;text-align:justify;">
							{{entityResult.policyDesc}} 
						</p>
					</div>
				</div>
		</div>
		<div class="col-md-9" ng-if="entityType!='GOVT_POLICY'">
			<div class="col-sm-4">
				<div class="panel panel-default panel-profile" ng-if="entityType=='USER'">
					<div class="panel-body user-profile">
						<img src="http://res.cloudinary.com/difyxhuza/image/upload/v1441404252/application_images/employee_pic.jpg" alt="" class="img-responsive user-avatar">

						<div class="user-detail">
							<h2 class="user-name">{{entityResult.summary.firstName}}&nbsp;{{entityResult.summary.lastName}}</h2>							
							<div class="table-responsive">
								<h6 class="user-info">Details</h6>
								<table class="table table-condensed m0">
									<tbody>
										<tr>
											<td style="border-top: 0">Web</td>
											<td style="border-top: 0"><a href="#">{{entityResult.summary.companyUrl}}</a></td>
										</tr>
										<tr>
											<td>Email</td>
											<td><a href="">TBD</a></td>
										</tr>
										
										<tr>
											<td>Education</td>
											<td>{{entityResult.details.educatonId | educationfilter}}</td>
										</tr>
										<tr>
											<td>Profession</td>
											<td>{{entityResult.details.professionalId | professionfilter}}</td>
										</tr>
										<tr>
											<td>Status</td>
											<td>{{entityResult.summary.userType | userTypefilter}}</td>
										</tr>
										<tr>
											<td>Social</td>
											<td>

												<a ng-href="{{entityResult.details.faceBookUrl}}" class="btn btn-xs" ng-if="entityResult.details.faceBookUrl"><i class="fa fa-facebook" ></i></a>
												<a ng-href="{{entityResult.details.twiterURL}}" ng-if="entityResult.details.twiterURL" class="btn btn-xs"><i class="fa fa-twitter"></i></a>
												<a ng-href="{{entityResult.details.linkedInUrl}}" ng-if="entityResult.details.linkedInUrl" class="btn btn-xs"><i class="fa fa-linkedin"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
	        	</div>
	        	<!-- End User -->
	        	<div class="panel panel-default panel-profile" ng-if="entityType=='OFFER' || entityType=='REQUEST'">
					<div class="panel-body user-profile">
						<img ng-if="entityResult && entityResult.imgUrl!=null"src="{{entityResult.imgUrl}}" alt="" class="img-responsive user-avatar">
						<img ng-if="entityResult.imgUrl==null"src="http://res.cloudinary.com/difyxhuza/image/upload/v1442655518/application_images/offer.png" alt="" class="img-responsive user-avatar">

						<div class="user-detail">
							<h3 class="user-info">{{entityType}} Title</h3>
							<p>{{entityResult.title}}</p>
							<div class="table-responsive">
								<h6 class="user-info">User details</h6>
								<table class="table table-condensed m0">
									<tbody>
										<tr>
											<td style="border-top: 0">Submitted by</td>
											<td style="border-top: 0"><a href="#">{{userDetail.firstName}}&nbsp;{{userDetail.lastName}}</a></td>
										</tr>
										<tr>
											<td style="border-top: 0">Company</td>
											<td style="border-top: 0"><a href="#">{{userDetail.companyUrl}}</a></td>
										</tr>
										<tr>
											<td>Email</td>
											<td><a href="">TBD</a></td>
										</tr>
										<tr>
											<td>Location</td>
											<td>{{userDetail.cityName}},&nbsp;{{userDetail.stateName}}</td>
										</tr>
										<tr>
											<td>Industries Known</td>
											<td>{{userDetail.industrys | industryfilter}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
	        	</div>
			</div>
			<div class="col-sm-8 entity-detail" >
				<div class="row">
					<tabset panel-tabs="true" panel-class="panel-default">
						<tab heading="{{entityType}} Detail" ng-if="entityType=='USER'">
							
							<div class="row">
								<div class="col-md-12 mb">
									<div class="row">
										<div class="col-xs-12">
											<h5 class="user-info">About</h5>
											<p>{{entityResult.summary.aboutMe}}</p>
										</div>
										<div class="col-xs-12">
											<h5>Industry Details</h5>
											<span>{{entityResult.summary.industrys | industryfilter}}</span>
										</div>		
										<div class="col-xs-12">
											<h5>Location</h5>
											<span>{{entityResult.summary.stateName}},{{entityResult.summary.cityName}}</span>
										</div>
										<div class="col-xs-12">
											<h5>Age Group</h5>
											<span>{{entityResult.details.ageGroupId | ageGroupfilter}}</span>
										</div>
									</div>
								</div>
							</div>
						</tab>
						<tab heading="{{entityType}} Detail" ng-if="entityType!='USER'">
							
							<div class="row">
								<div class="col-md-12 mb">
									<div class="row">
										<div class="col-xs-12">
											<h5>{{entityType}} Description</h5>
											<span>{{entityResult.description}}</span>
										</div>
										<div class="col-xs-12">
											<h5>Industry Details</h5>
											<span>{{entityResult.trgtIndustry | industryfilter}}</span>
										</div>
										<div class="col-xs-12">
											<h5>Intended Audience</h5>
											<span>{{entityResult.intdAudience | audiencefilter}}</span>
										</div>
										<div class="col-xs-12">
											<h5>Target Location</h5>
											<span>{{entityResult.trgtLocation | statefilter}}</span>
										</div>
										<div class="col-xs-12">
											<h5>Specific Need</h5>
											<div ng-repeat="q in questions">
												<span>{{q.questTxt}}</span>:<span>{{q.response | questionfilter}}</span>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</tab>
						<tab heading="Offers posted by User" ng-if="entityType=='USER'">
							<ul class="timeline">
								<li class="timeline-info" ng-repeat="o in offers">
									<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
									<div class="timeline-body">
										<div class="timeline-header">											
											<span class="date">{{o.updateDate}}</span>
										</div>
										<div class="timeline-content">
											<h3>{{o.title}}</h3>
											<p>{{o.description | maxlengthfilter : 65}}</p>
										</div>
									</div>
								</li>
							</ul>
						</tab>
						
						<tab heading="Requests Raised by User" ng-if="entityType=='USER'">
							<ul class="timeline">
								<li class="timeline-info" ng-repeat="r in requests">
									<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
									<div class="timeline-body">
										<div class="timeline-header">
											<span class="date">{{r.updateDate}}</span>
										</div>
										<div class="timeline-content">
											<h3>{{r.title}}</h3>
											<p>{{r.description | maxlengthfilter : 65}}</p>
										</div>
									</div>
								</li>
							</ul>
						</tab>
						
					</tabset>
				</div>
				<div class="row">
					<div class="panel">
						<div class="col-md-12">
							<h5>Reach out directly:</h5>
						</div>
						<div class="col-md-12">
							<textarea class="form-control" ng-model="connectMessage" maxlength="250"></textarea>
						</div>
						<br/>				
						
						
						<div class="col-md-12" style="padding:20px;">
							<div class="pull-left">
								<alert type="{{alert.type}}" ng-if="alert.msg"><span ng-bind-html="alert.msg | safe_html"></alert>

								<span ng-show="showServerMessage.length>0">{{showServerMessage}}</span>
							</div>
							<div class="pull-right">
								<button class="btn btn-primary btn-sm" ng-click="connect(connectMessage);">Connect</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel" style="padding:20px;">
				<div class="col-md-12">
					Related tags
					<div class="row">
						<div ng-repeat="t in relatedTags" style="display:inline-block;">
							<a ng-href="{{t.url}}" class="btn btn-default btn-xs" style="margin:5px;">{{t.name}}</a>&nbsp;					
						</div>
					</div>
				</div>
			</div>
			<div class="panel" style="padding:20px;">
				<div class="col-md-12">
					<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row panel" style="display:none;">		
		<div class="col-md-12">
			Related Entity
		</div>
	</div>


</div> <!-- container-fluid -->
</div>
