<style type="text/css">
	.entity-detail{

	}
	.entity-detail .panel-body{
		height: 400px;
		overflow-y: auto;
	}
</style>
<div ng-controller="EntityDetailController">
<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>{{entityType}}</li>
		<li class="active">User Profile</li>
	</ol>
</div>
<div class="container-fluid" >
	<div class="row">
		<div class="col-md-9" ng-if="entityType=='GOIPolicy'">
				<div class="panel panel-default panel-profile">
					<div class="panel-body user-profile">
						<h3 style="padding:20px;text-align:justify;height:500px;overflow-y:auto;">The news title must come over here. </h3>
						<img src="http://res.cloudinary.com/difyxhuza/image/upload/v1441404252/application_images/employee_pic.jpg" alt="" class="img-responsive user-avatar">
						<hr/>

						<p style="padding:20px;text-align:justify;">
							Some News Content to be put here. Actually will come from database. 
						</p>
					</div>
				</div>
		</div>
		<div class="col-md-9" ng-if="entityType!='GOIPolicy'">
			<div class="col-sm-4">
				<div class="panel panel-default panel-profile" ng-if="entityType=='User'">
					<div class="panel-body user-profile">
						<img src="http://res.cloudinary.com/difyxhuza/image/upload/v1441404252/application_images/employee_pic.jpg" alt="" class="img-responsive user-avatar">

						<div class="user-detail">
							<h2 class="user-name">James Black</h2>
							<h6 class="user-info">About</h6>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam consectetur sint. Nobis facere illo iste quaerat sapiente doloribus deserunt et nam obcaecati recusandae possimus aperiam similique.</p>
							<div class="table-responsive">
								<h6 class="user-info">Details</h6>
								<table class="table table-condensed m0">
									<tbody>
										<tr>
											<td style="border-top: 0">Web</td>
											<td style="border-top: 0"><a href="#">www.johndoe.com</a></td>
										</tr>
										<tr>
											<td>Email</td>
											<td><a href="">doe@lime.com</a></td>
										</tr>
										<tr>
											<td>Phone</td>
											<td>(123)-342-5412</td>
										</tr>
										<tr>
											<td>Education</td>
											<td>Computer Engineer</td>
										</tr>
										<tr>
											<td>Profession</td>
											<td>Designer</td>
										</tr>
										<tr>
											<td>Status</td>
											<td>Provider and Entrepreneur</td>
										</tr>
										<tr>
											<td>Social</td>
											<td>
												<a href="#" class="btn btn-xs"><i class="fa fa-skype"></i></a>
												<a href="#" class="btn btn-xs"><i class="fa fa-facebook"></i></a>
												<a href="#" class="btn btn-xs"><i class="fa fa-twitter"></i></a>
												<a href="#" class="btn btn-xs"><i class="fa fa-dribbble"></i></a>
												<a href="#" class="btn btn-xs"><i class="fa fa-tumblr"></i></a>
												<a href="#" class="btn btn-xs"><i class="fa fa-linkedin"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
	        	</div>
	        	<!-- End User -->
	        	<div class="panel panel-default panel-profile" ng-if="entityType=='Offer' || entityType=='Request'">
					<div class="panel-body user-profile">
						<img src="http://res.cloudinary.com/difyxhuza/image/upload/v1441404252/application_images/employee_pic.jpg" alt="" class="img-responsive user-avatar">

						<div class="user-detail">
							<h3 class="user-info">{{entityType}} Title</h3>
							<p>This is a dummy offer title. </p>
							<div class="table-responsive">
								<h6 class="user-info">User Details</h6>
								<table class="table table-condensed m0">
									<tbody>
										<tr>
											<td style="border-top: 0">Web</td>
											<td style="border-top: 0"><a href="#">www.johndoe.com</a></td>
										</tr>
										<tr>
											<td>Email</td>
											<td><a href="">doe@lime.com</a></td>
										</tr>
										<tr>
											<td>Phone</td>
											<td>(123)-342-5412</td>
										</tr>
										<tr>
											<td>Education</td>
											<td>Computer Engineer</td>
										</tr>
										<tr>
											<td>Profession</td>
											<td>Designer</td>
										</tr>
										<tr>
											<td>Status</td>
											<td>Provider and Entrepreneur</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
	        	</div>
			</div>
			<div class="col-sm-8 entity-detail" >
				<div class="row">
					<tabset panel-tabs="true" panel-class="panel-default">
						<tab heading="{{entityType}} Detail">
							
							<div class="row">
								<div class="col-md-12 mb">
									<div class="row">
										<div class="col-xs-12">
											<h5>Description</h5>
											<span>Last Seen 10 minutes ago</span>
										</div>
										<div class="col-xs-12">
											<h5>Work Experience</h5>
											<span>10-15 years</span>
										</div>
										<div class="col-xs-12">
											<h5>Related Industry</h5>
											<span>Agriculture, Finance, Auditing</span>
										</div>
										<div class="col-xs-12">
											<h5>Looking for</h5>
											<span>Agriculture, Finance, Auditing</span>
										</div>
										<div class="col-xs-12">
											<h5>Specific Need</h5>
											<div><span>Are you looking for finance</span>:<span>YES</span></div>
											<div><span>Are you looking for finance</span>:<span>YES</span></div>
											<div><span>Are you looking for finance</span>:<span>YES</span></div>
										</div> 
									</div>
								</div>
							</div>
						</tab>
						<tab heading="Offers posted by User">
							<ul class="timeline">
								<li class="timeline-danger">
									<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
									<div class="timeline-body">
										<div class="timeline-header">
											<span class="author">Posted by <a href="#">David Tennant</a></span>
											<span class="date">Monday, November 21, 2013</span>
										</div>
										<div class="timeline-content">
											<h3>Consectetur Adipisicing Elit</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!</p>
										</div>
									</div>
								</li>
							</ul>
						</tab>
						
						<tab heading="Requests Raised by User">
							<ul class="timeline">
								<li class="timeline-danger">
									<div class="timeline-icon"><i class="fa fa-pencil"></i></div>
									<div class="timeline-body">
										<div class="timeline-header">
											<span class="author">Posted by <a href="#">David Tennant</a></span>
											<span class="date">Monday, November 21, 2013</span>
										</div>
										<div class="timeline-content">
											<h3>Consectetur Adipisicing Elit</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!</p>
										</div>
									</div>
								</li>
							</ul>
						</tab>
						
					</tabset>
				</div>
				<div class="row">
					<div class="panel">
						<div class="col-md-12">
							<h5>Reach out directly:</h5>
						</div>
						<div class="col-md-12">
							<textarea class="form-control" ng-model="user.summary.aboutMe"></textarea>
						</div>
						<br/>
						<div class="col-md-12" style="padding:20px;">
							<div class="pull-right">
								<button class="btn btn-primary btn-sm">Connect</button>
							</div>							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="col-md-12">
					tags
				</div>
			</div>
			<div class="panel">
				<div class="col-md-12">
					Social
				</div>
			</div>
		</div>
	</div>
	<div class="row panel">		
		<div class="col-md-12">
			Related Entity
		</div>
	</div>


</div> <!-- container-fluid -->
</div>
