<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>Settings</li>
	</ol>

	<h1>User Profile</h1> 
	
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-orange">
				<div class="panel-heading">
					<h2>Enter your personal details</h2>
					
				</div>
				<div ng-if="firstLogin">
					<alert type="{{alert.type}}"><span ng-bind-html="alert.msg | safe_html"></alert>
				</div>
				<div class="panel-body">
				<!--
					<div class="row">
						<div class="col-md-6">
							<input id="documentInput" name="file" type="file" class="input-file">					
						</div>
						<div class="col-md-6">
							<button class="btn btn-primary modal-save" ng-click="addNewDocument()">Upload</button>
						</div>
					</div>
				-->
					<div class="row">
					<div class="col-sm-12">
							<div class="col-sm-4">
			                <!--
			                	<input id="documentInput" name="file" type="file" class="input-file input-sm">
		                	-->
		                		<label class="control-label">Upload your picure</label>
		                		<br/>
			                	<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
									<div>
									  <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..." id="documentInput"></span>
									  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
									</div>
								</div>							
			                </div>
			                <div class="col-sm-4">
			                	<label class="">First Name</label>
			                	<br/>
			                	<input type="text" class="form-control input-sm" ng-model="user.summary.firstName">
			                </div>
			                <div class="col-sm-4">
			                	<label class="">Last Name</label>
			                	<br/>
			                	<input type="text" class="form-control input-sm" ng-model="user.summary.lastName">
			                </div>
			                <br/>
			                <br/>
			                <div class="col-sm-8" style="margin-top:25px;">
			                	<label class="">About Me</label>
			                	<br/>
			                	<textarea class="form-control" ng-model="user.summary.aboutMe"></textarea>
			                </div>
		                </div>
		                <div class="col-sm-12">
		                	<hr/>
		                </div>
						<div class="col-md-12">
							<div class="panel-loading" ng-if="waiting">
		                        <div class="panel-loader-circular"></div>
		                    </div>
						    <form action="" name="form.reg_form" class="form-horizontal row-border">
					            <div class="form-group">					            	
					                <label class="col-sm-2 control-label">Profession</label>
					                <div class="col-sm-4">
					                    <select class="form-control input-sm" ng-model="user.details.professionalId">
					                		<option value="0">Select your Profession</option>
					                		<option ng:repeat="prof in professions" value="{{prof.profession_id}}">{{prof.profession_name}}</option>
					                	</select>	
					                </div>
					                <label class="col-sm-2 control-label">Age Group</label>
					                <div class="col-sm-4">
					                	<select class="form-control input-sm" ng-model="user.details.ageGroupId">
					                		<option value="0">Select you age group</option>
					                		<option ng:repeat="age in ageGroup" value="{{age.ageId}}">{{age.displAge}}</option>
					                	</select>					                    
					                </div>
					            </div>
					            <div class="form-group">					            	
					                <label class="col-sm-2 control-label">Education</label>
					                <div class="col-sm-4">
					                    <select class="form-control input-sm" ng-model="user.details.educatonId">
					                		<option value="0">Select you education</option>
					                		<option ng:repeat="edu in educations" value="{{edu.eductnId}}">{{edu.eductnName}}</option>
					                	</select>
					                </div>
					                <label class="col-sm-2 control-label">Work Experience</label>
					                <div class="col-sm-4">
					                	<select class="form-control input-sm" ng-model="user.details.experienceId">
					                		<option value="0">Select you Experience</option>
					                		<option value="1">0-5 yrs</option>
					                		<option value="3">5-10 yrs</option>	
					                		<option value="4">10-25 yrs</option>
					                		<option value="5">25+ yrs</option>			
					                	</select>
					                </div>
					            </div>
					            <div class="form-group">					            	
					                <label class="col-sm-2 control-label">State name</label>
					                <div class="col-sm-4">
					                    <select class="form-control input-sm" ng-model="user.details.stateId">
					                		<option ng:repeat="s in states" value="{{s.stateId}}">{{s.stateName}}</option>				                		
					                	</select>
					                </div>
					                <label class="col-sm-2 control-label">City name</label>
					                <div class="col-sm-4">
					                	<input type="text" class="form-control input-sm" ng-model="user.summary.cityName">			                    
					                </div>
					            </div>
					            <div class="form-group">
					                <label class="col-sm-3 control-label">What you aspire to be ?</label>
					                <div class="col-sm-6">
					                    <div class="radio-inline">
					                      <label>
					                        <input icheck type="radio" name="optionsRadios" value="E"  ng-model="user.summary.userType" ng-click="updateUserType()">
					                        Entrepreneur
					                      </label>
					                    </div>
					                    <div class="radio-inline">
					                      <label>
					                        <input icheck type="radio" name="optionsRadios" value="P" ng-model="user.summary.userType" ng-click="updateUserType()">
					                        Provider
					                      </label>
					                    </div>
					                    <div class="radio-inline">
					                      <label>
					                        <input icheck type="radio" name="optionsRadios"  value="B" ng-model="user.summary.userType" ng-click="updateUserType()">
					                        Both
					                      </label>
					                    </div>	
					                </div>
					                <div class="col-sm-12" ng-show="user.summary.userType !=='E'">
						                <label class="col-sm-4 control-label">Enter your company name</label>
					                    <div class="col-sm-6 input-sm">
						                	<input type="text" class="form-control input-sm" placeholder="Maximum 50 characters" data-ng-maxlength="5" ng-model="user.summary.companyUrl">     
						                	<span class="help-block" ng-show="form.reg_form.maxlength.$error.required && form.reg_form.maxlength.$dirty">This field is required</span>
                            				<span class="help-block" ng-show="form.reg_form.maxlength.$error.maxlength && form.reg_form.maxlength.$dirty">Value must be 6 characters or less</span>              
						                </div>
						            </div>
						            
					            </div>	
					            <div class="form-group">
					            	<label class="col-sm-2 control-label">I am aware of</label>
					            	<div class="col-sm-10">
					            		<ui-select multiple ng-model="selectedIndustries.selected" close-on-select="false" style="width: 400px;" title="Select your profession">
										    <ui-select-match placeholder="Select or search your profession in the list...">{{$select.selected[$index].industryName}}</ui-select-match>
										    <ui-select-choices repeat="iterator in industries">
										      <span ng-bind-html="iterator.industryName"></span>
										    </ui-select-choices>
										</ui-select>
					       
					            	</div>
					            </div>    
					            <div class="form-group">
					            	<label class="col-sm-4 control-label">My FaceBook page</label>
					            	<div class="col-sm-6 input-sm">
						                	<input type="text" class="form-control input-sm" ng-model="user.details.faceBookUrl">                   
						           	</div>
					            </div>
					            <div class="form-group">
					            	<label class="col-sm-4 control-label">My Twitter handle</label>
					            	<div class="col-sm-6 input-sm">
						                	<input type="text" class="form-control input-sm" ng-model="user.details.twiterURL">                   
						           	</div>
					            </div> 
					            <div class="form-group">
					            	<label class="col-sm-4 control-label">My LinkedIn profile</label>
					            	<div class="col-sm-6 input-sm">
						                	<input type="text" class="form-control input-sm" ng-model="user.details.linkedInUrl">                   
						           	</div>
					            </div> 
					            <!--  
					            <div class="form-group">
					            	<label class="col-sm-2 control-label">I am looking for</label>
					            	<div class="col-sm-10">
					            		<ui-select multiple ng-model="lookingfor.selected" close-on-select="false" style="width: 400px;" title="Select your profession">
										    <ui-select-match placeholder="Select or search your profession in the list...">{{$select.selected[$index].industryName}}</ui-select-match>
										    <ui-select-choices repeat="iterator in industries">
										      <span ng-bind-html="iterator.industryName"></span>
										    </ui-select-choices>
										</ui-select>
					            	</div>
					            </div> 
					            -->     
					          	<!--
								<div class="form-group">
					                <label class="col-sm-3 control-label"></label>
					                <div class="col-sm-6">
					                    <label class="checkbox-inline">
					                      <input icheck type="checkbox" id="inlinecheckbox1" value="option1"> I agree to the <a href="#">Terms</a> & <a href="#">Policy</a>
					                    </label>
					                </div>
					            </div>
					            -->					            
					        </form>
						</div>
					</div>
				</div>
				<div class="panel-footer">
		      	<div class="row">
		      		<div class="col-sm-6 col-sm-offset-3">
		      			<div class="btn-toolbar">
			      			<button class="btn-primary btn" ng-click="saveUserInfo()">Save</button>
			      			<button class="btn-default btn">Reset</button>
		      			</div>
		      		</div>
		      	</div>
		      </div>
			</div>
		</div>
	</div>

</div> <!-- container-fluid -->
