<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>Settings</li>
	</ol>

	<h1>User Profile</h1>
	
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-orange">
				<div class="panel-heading">
					<h2>Enter your personal details</h2>
					
				</div>
				<div class="panel-body">
				<!--
					<div class="row">
						<div class="col-md-6">
							<input id="documentInput" name="file" type="file" class="input-file">					
						</div>
						<div class="col-md-6">
							<button class="btn btn-primary modal-save" ng-click="addNewDocument()">Upload</button>
						</div>
					</div>
				-->
					<div class="row">
						<div class="col-md-12">
						    <form action="" name="reg_form" class="form-horizontal row-border">
					            <div class="form-group">					            	
					                <label class="col-sm-2 control-label">Full Name</label>
					                <div class="col-sm-4">
					                    <input type="text" class="form-control input-sm">
					                </div>
					                <label class="col-sm-2 control-label">Age Group</label>
					                <div class="col-sm-4">
					                	<select class="form-control input-sm" ng-model="selectedAgeId">
					                		<option value="0">Select you age group</option>
					                		<option ng:repeat="age in ageGroup" value="{{age.age_id}}">{{age.displ_age}}</option>
					                	</select>					                    
					                </div>
					            </div>
					            <div class="form-group">					            	
					                <label class="col-sm-2 control-label">Education</label>
					                <div class="col-sm-4">
					                    <select class="form-control input-sm" ng-model="selectedEducationId">
					                		<option value="0">Select you education</option>
					                		<option ng:repeat="edu in educations" value="{{edu.education_id}}">{{edu.education_name}}</option>
					                	</select>
					                </div>
					                <label class="col-sm-2 control-label">Work Experience</label>
					                <div class="col-sm-4">
					                	<input type="text" class="form-control input-sm">			                    
					                </div>
					            </div>
					            <div class="form-group">
					            	<label class="col-sm-2 control-label">Profession</label>
					            	<div class="col-sm-4">
					                	<ui-select multiple ng-model="selectedIndustries.selected" close-on-select="false" style="width: 300px;" title="Select your profession">
										    <ui-select-match placeholder="Select or search your profession in the list...">{{$select.selected[$index]}}</ui-select-match>
										    <ui-select-choices repeat="iterator in industries">
										      <span ng-bind-html="iterator.industry_name"></span>
										    </ui-select-choices>
										</ui-select>					                    
					                </div>
					                <label class="col-sm-2 control-label">Upload your picture</label>
					                <div class="col-sm-4">
					                	<input id="documentInput" name="file" type="file" class="input-file input-sm">
					                </div>
					            </div>
					            <div class="form-group">					            	
					                <label class="col-sm-2 control-label">State name</label>
					                <div class="col-sm-4">
					                    <select class="form-control input-sm">
					                		<option value="1">West Bengal</option>
					                		<option value="2">MP</option>				                		
					                	</select>
					                </div>
					                <label class="col-sm-2 control-label">City name</label>
					                <div class="col-sm-4">
					                	<input type="text" class="form-control input-sm">			                    
					                </div>
					            </div>
					            <div class="form-group">
					                <label class="col-sm-3 control-label">What you aspire to be ?</label>
					                <div class="col-sm-6">
					                    <div class="radio-inline">
					                      <label>
					                        <input icheck type="radio" name="optionsRadios" id="optionsRadios1" value="Entrepreneur" checked="">
					                        Entrepreneur
					                      </label>
					                    </div>
					                    <div class="radio-inline">
					                      <label>
					                        <input icheck type="radio" name="optionsRadios" id="optionsRadios2" value="Provider">
					                        Provider
					                      </label>
					                    </div>
					                    <div class="radio-inline">
					                      <label>
					                        <input icheck type="radio" name="optionsRadios" id="optionsRadios2" value="Both">
					                        Both
					                      </label>
					                    </div>	
					                </div>
					                <div class="col-sm-12">
						                <label class="col-sm-4 control-label">Enter your company name</label>
					                    <div class="col-sm-6 input-sm">
						                	<input type="text" class="form-control input-sm">                   
						                </div>
						            </div>
						            
					            </div>	
					            <div class="form-group">
					            	<label class="col-sm-2 control-label">My knowledge is in</label>
					            	<div class="col-sm-10">
					            		<select class="form-control input-sm">
					                		<option value="1">Software Engineer</option>
					                		<option value="2">Student</option>
					                		<option value="3">Electrical Engineer</option>
					                		<option value="4">Own Business</option>
					                		<option value="5">Car Mechanic</option>
					                		<option value="6">Elecrician</option>
					                		<option value="7">Plumber</option>
					                	</select>
					            	</div>
					            </div>    
					            <div class="form-group">
					            	<label class="col-sm-4 control-label">My FaceBook page</label>
					            	<div class="col-sm-6 input-sm">
						                	<input type="text" class="form-control input-sm">                   
						           	</div>
					            </div>
					            <div class="form-group">
					            	<label class="col-sm-4 control-label">My Twitter handle</label>
					            	<div class="col-sm-6 input-sm">
						                	<input type="text" class="form-control input-sm">                   
						           	</div>
					            </div> 
					            <div class="form-group">
					            	<label class="col-sm-4 control-label">My LinkedIn profile</label>
					            	<div class="col-sm-6 input-sm">
						                	<input type="text" class="form-control input-sm">                   
						           	</div>
					            </div>   
					            <div class="form-group">
					            	<label class="col-sm-2 control-label">I am looking for</label>
					            	<div class="col-sm-10">
					            		<select class="form-control input-sm">
					                		<option value="1">Software Engineer</option>
					                		<option value="2">Student</option>
					                		<option value="3">Electrical Engineer</option>
					                		<option value="4">Own Business</option>
					                		<option value="5">Car Mechanic</option>
					                		<option value="6">Elecrician</option>
					                		<option value="7">Plumber</option>
					                	</select>
					            	</div>
					            </div>      
					          
								<div class="form-group">
					                <label class="col-sm-3 control-label"></label>
					                <div class="col-sm-6">
					                    <label class="checkbox-inline">
					                      <input icheck type="checkbox" id="inlinecheckbox1" value="option1"> I agree to the <a href="#">Terms</a> & <a href="#">Policy</a>
					                    </label>
					                </div>
					            </div>
					            
					        </form>
						</div>
					</div>
				</div>
				<div class="panel-footer">
		      	<div class="row">
		      		<div class="col-sm-6 col-sm-offset-3">
		      			<div class="btn-toolbar">
			      			<button class="btn-primary btn">Save</button>
			      			<button class="btn-default btn">Reset</button>
		      			</div>
		      		</div>
		      	</div>
		      </div>
			</div>
		</div>
	</div>

</div> <!-- container-fluid -->
