<div id="Div1">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Manage Entities</li>
	</ol>
</div>
<div class="container-fluid" ng-controller="EntityManagementController">
	<div class="row">
		<div class="col-sm-4 pull-left">
			<h3>Manage Entities for Application</h3>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px;">
		<div class="col-sm-12" style="margin-bottom:20px;">
			<div class="col-sm-4">
				*Select Entity Type
				<select class="form-control input-sm" ng-model="selectedEntity" style="width:250px;">
					<!-- <option value="SELECT">{{SELECT}}</option> -->
					<option value="">Please select</option>
					<option value="OFFER">Offer</option>
					<option value="REQUEST">Request</option>
					<option value="POLICY">Policy</option>
				</select>
			</div>
			<div class="col-sm-4" ng-show="selectedEntity!=''">
				*Select Industry
				<select class="form-control input-sm" ng-model="selectedIndustry" style="width:250px;">
					<option value="">Please select</option>
					<option value="ALL">ALL</option>
                	<option ng:repeat="i in industries" value="{{i.industryId}}">{{i.industryName}}</option>
                </select>
			</div>	
			<div class="col-sm-4" ng-show="selectedEntity!=''">
				*Select State
				 <select class="form-control input-sm" ng-model="selectedState" style="width:250px;">
				 	<option value="">Please select</option>
				 	<option value="ALL">ALL</option>
            		<option ng:repeat="s in states" value="{{s.stateId}}">{{s.stateName}}</option>				                		
            	</select>
			</div>	
			<span ng-show="showServerMessage.length>0" style="color:red">{{showServerMessage}}</span>
		</div>	
		<div class="col-sm-12">
			<div class="col-sm-4">
				<button class="btn btn-primary" ng-click="searchEntity();">Search</button>
			</div>
			<div class="col-sm-4">
				<span>Please select * (mandatory) fields to search</span>
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-orange">
				
				<div class="panel-loading" ng-if="waiting">
                    <div class="panel-loader-circular"></div>
                </div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="padding-right: 100px">Title</th>
							<th>Description</th>
							<th>Created Date(yyyy-MM-dd)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="e in entities">
							<td align="left" data-title="Title"><i>{{e.entitytitle | maxlengthfilter : 70}}</i></td>
							<td>{{e.entitydescription | maxlengthfilter : 100 }}</td>
							<td>{{e.createDate| date:"yyyy-MM-dd"}}</td>
							<td>						
								<button type="button" class="btn btn-small" ng-click="editEntity(e)">Edit</button>  
							</td>
						</tr>
					</tbody>
					<tbody ng-if="entity!=undefined && entity.length===0">
						<tr>
							<td colspan="4"><alert type="{{alert.type}}"><span>Please select an entity</span></td></alert>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		 
	</div>



</div>
<!-- container-fluid -->