<div id="Div1">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Manage Users</li>
	</ol>
</div>
<div class="container-fluid" ng-controller="UserManagementController">
	<div class="row">
		<div class="col-sm-4 pull-left">
			<h3>Manage Users for Application</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-orange">
				
				<div class="panel-loading" ng-if="waiting">
                    <div class="panel-loader-circular"></div>
                </div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="padding-right: 100px">User Name</th>
							<th>Email</th>
							<th>Role</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users" ng-click="editUser(user)" style="cursor: pointer;">
							<td align="left" data-title="Title"><i>{{user.usrName}}</i></td>
							<td>{{user.usrEmail}}</td>
							<td>{{user.usrType}}</td>
							<td>						
								<button type="button" class="btn btn-small" ng-click="open();">Edit</button>  
							</td>
						</tr>
					</tbody>
					<tbody ng-if="users!=undefined && users.length===0">
						<tr>
							<td colspan="4"><alert type="{{alert.type}}"><span>You do not have any users created.</span></td></alert>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		 
	</div>



</div>
<!-- container-fluid -->
